{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Real Madrid FC</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        .hover-zoom:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }
        .uk-slider-container .uk-slidenav {
            color: white; /* Default color */
            transition: color 0.3s ease; /* Smooth transition */
        }
        .uk-slider-container .uk-slidenav:hover {
            color: #3b82f6; /* Blue color on hover */
        }
        .rounded-lg {
            border-radius: 1rem; /* Adjust radius as needed */
            overflow: hidden; /* Ensures the image fits within the rounded corners */
        }
        .hover\:scale-105:hover {
            transform: scale(1.05); /* Zoom effect on hover */
        }
        a {
            text-decoration: none !important;
        }
        .alert {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        
        .alert.success {
            background-color: #d4edda;
            color: #155724;
        }
        
        .alert.error {
            background-color: #f8d7da;
            color: #721c24;
        }
    </style>
</head>
<body class="bg-[#f3f5f8]">

<!-- Navbar Section -->
<section class="bg-white dark:bg-white-900">
    <nav id="navbar" x-data="{ isOpen: false }" class="fixed inset-x-0 z-30 container p-6 mx-auto lg:flex lg:justify-between lg:items-center bg-white text-[#43526e] transition-transform duration-300 ease-in-out transform top-0">
        <div class="flex items-center justify-between">
            <a href="{% url 'index' %}" class="flex items-center">
                <img class="w-auto h-6 sm:h-7" src="{% static 'madrid_images/real-madrid-logo.png' %}" alt="Real Madrid Logo">
                <span class="ml-2 lg:ml-6 hover:text-blue-500">REAL MADRID FC</span>
            </a>

            <!-- Mobile menu button -->
            <div class="flex lg:hidden">
                <button x-cloak @click="isOpen = !isOpen" type="button" class="text-[#43526e] hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
                    <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                    </svg>

                    <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>

        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div x-cloak :class="[isOpen ? 'translate-x-0 opacity-100 ' : 'opacity-0 -translate-x-full']" class="absolute inset-x-0 z-20 w-full px-6 py-4 transition-all duration-300 ease-in-out bg-white shadow-md lg:bg-transparent lg:shadow-none lg:mt-0 lg:p-0 lg:top-0 lg:relative lg:w-auto lg:opacity-100 lg:translate-x-0 lg:flex lg:items-center text-[#43526e]">
                <div class="flex flex-col lg:flex-row lg:space-x-4">
                    <a class="block lg:mx-6 hover:text-blue-500" href="{% url 'player_view' %}">Madridstas</a>
                    <a class="block lg:mx-6 hover:text-blue-500" href="{% url 'schedule' %}">Tickets</a>
                    <a class="block lg:mx-6 hover:text-blue-500" href="{% url 'store' %}">Store</a>
                    <a class="block lg:mx-6 hover:text-blue-500" href="{% url 'previous_results' %}">Results</a>
                </div>

            {% if user_name %}
            <div x-data="{ isOpenDropdown: false }" class="relative inline-block">
                <!-- Dropdown toggle button -->
                <button @click="isOpenDropdown = !isOpenDropdown" class="relative z-10 flex items-center p-2 bg-white focus:outline-none">
                    <span class="mx-1">{{ user_name }}</span>
                    <svg class="w-5 h-5 mx-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z" fill="currentColor"></path>
                    </svg>
                </button>

                <!-- Dropdown menu -->
                <div x-show="isOpenDropdown" 
                    @click.away="isOpenDropdown = false"
                    x-transition:enter="transition ease-out duration-100"
                    x-transition:enter-start="opacity-0 scale-90"
                    x-transition:enter-end="opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-100"
                    x-transition:leave-start="opacity-100 scale-100"
                    x-transition:leave-end="opacity-0 scale-90"
                    class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden origin-top-right bg-[#43526e] rounded-md shadow-xl dark:bg-white-800"
                >
                    <a href="{% url 'profile' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">View profile</a>
                    <hr class="border-gray-200 dark:border-gray-700">
                    <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">Help</a>
                    <a href="{% url 'logout' %}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">Sign Out</a>
                </div>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="block lg:mx-6 hover:text-blue-500">Login</a>
            {% endif %}
        </div>
    </nav>
    <hr>
</section>


<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('navbar');

    window.addEventListener('scroll', () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
            // Scroll down
            navbar.style.transform = 'translateY(-100%)';
        } else {
            // Scroll up
            navbar.style.transform = 'translateY(0)';
        }
        lastScrollTop = scrollTop;
    });
</script>

<body class="bg-white">
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<!-- Profile Update Form -->
<div class="flex flex-col justify-center items-center h-[100vh]">
    <div class="relative flex flex-col items-center rounded-[20px] w-[900px] max-w-[95%] mx-auto bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3">
        <div id="successMessage" class="hidden p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-900 dark:text-green-400" role="alert">
            Profile updated successfully!
        </div>

        <!-- Loading Spinner -->
        <div id="loadingSpinner" class="hidden absolute inset-0 flex items-center justify-center z-10">
            <div class="w-8 h-8 border-4 border-blue-500 border-dashed rounded-full animate-spin"></div>
        </div>
        <div class="mt-2 mb-8 w-full">
            <h4 class="text-4xl font-semibold tracking-wide text-[#0F2145] lg:text">
                Edit Your Profile
            </h4>
        </div> 
        <form method="post">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4 px-2 w-full">
                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <label for="name" class="block text-semibold-px1 text-[#0F2145] dark:text-[#0F2145]">Name</label><span class="mt-3 text-xs text-red-400 hidden" id="err_name">Name is required.</span>

                    <input type="text" id="name" name="name" value="{{ user_name }}" placeholder="John Doe" class="block mt-2 placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border-2 border-gray-200 px-5 py-2.5 text-gray-700 focus:border-gray-400 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40 dark:border-gray-400 dark:text-[#0F2145]-300 dark:focus:border-gray-300" style="background-color: white !important; width: 300px;" />
                </div>
                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <label for="phone" class="block text-semibold-px1 text-[#0F2145] dark:text-[#0F2145]">Phone</label><span class="mt-3 text-xs text-red-400 hidden" id="err_phone">Phone number is required and must be digits only.</span>

                    <input type="text" id="phone" name="phone" value="{{ user_phone }}" placeholder="1234567890" class="block mt-2 placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border-2 border-gray-200 px-5 py-2.5 text-gray-700 focus:border-gray-400 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40 dark:border-gray-400 dark:text-[#0F2145]-300 dark:focus:border-gray-300" style="background-color: white !important; width: 300px;" />
                </div>
                <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
                    <label for="email" class="block text-semibold-px1 text-[#0F2145] dark:text-[#0F2145]">Email</label>  <span class="mt-3 text-xs text-red-400 hidden" id="err_email">Email format is invalid.</span>
                    <input type="email" id="email" name="email" value="{{ user_email }}" placeholder="example@gmail.com" class="block mt-2 placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border-2 border-gray-200 px-5 py-2.5 text-gray-700 focus:border-gray-400 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40 dark:border-gray-400 dark:text-[#0F2145]-300 dark:focus:border-gray-300" style="background-color: white !important; width: 300px;" disabled />
                  
                </div>
            </div>
            <button type="submit" id="submitBtn" class="w-full mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:bg-gray-300 disabled:cursor-not-allowed" disabled>Update Profile</button>
        </form>
    </div>
</div>

<script>
    function validatePhone(phone) {
        // Regular expression to check if the phone number is exactly 10 digits,
        // starts with a digit from 6 to 9, and contains only digits
        var re = /^[6-9]\d{9}$/;
        return re.test(phone);
    }
    
    function validateForm() {
        let valid = true;
    
        // Validate name
        const name = document.getElementById("name").value.trim();
        const nameError = document.getElementById("err_name");
        if (name === "") {
            nameError.textContent = "Name is required.";
            nameError.classList.remove("hidden");
            valid = false;
        } else {
            nameError.textContent = "";
            nameError.classList.add("hidden");
        }
    
        // Validate phone
        const phone = document.getElementById("phone").value.trim();
        const phoneError = document.getElementById("err_phone");
        if (phone === "") {
            phoneError.textContent = "Phone number is required.";
            phoneError.classList.remove("hidden");
            valid = false;
        } else if (!validatePhone(phone)) {
            phoneError.textContent = "Phone number must be exactly 10 digits, starting with a digit from 6 to 9.";
            phoneError.classList.remove("hidden");
            valid = false;
        } else {
            phoneError.textContent = "";
            phoneError.classList.add("hidden");
        }
    
        // Validate email (if it is enabled in the future or if needed)
        const email = document.getElementById("email").value.trim();
        const emailError = document.getElementById("err_email");
        if (email === "") {
            emailError.textContent = "Email is required.";
            emailError.classList.remove("hidden");
            valid = false;
        } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            emailError.textContent = "Email format is invalid.";
            emailError.classList.remove("hidden");
            valid = false;
        } else {
            emailError.textContent = "";
            emailError.classList.add("hidden");
        }
    
        // Enable or disable the submit button based on validation
        document.getElementById("submitBtn").disabled = !valid;
    
        // Return validity status
        return valid;
    }
    
    // Attach event listeners to input fields to validate in real-time
    document.getElementById("name").addEventListener("input", validateForm);
    document.getElementById("phone").addEventListener("input", validateForm);
    document.getElementById("email").addEventListener("input", validateForm);
    
    // Attach the form submit event handler
    document.querySelector("form").addEventListener("submit", function(event) {
        if (!validateForm()) {
            event.preventDefault(); // Prevent form submission if validation fails
        }
    });
    
    // Initial validation check on page load
    validateForm();
    
</script>

</body>
</html>
