{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Madrid Official Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
       a{
        text-decoration:none !important;
       }
       .search-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .relative {
        position: relative;
    }

    .search-bar {
        border: 2px solid #d1d5db; /* Set a visible border color */
        background: white;
        height: 40px;
        padding: 0 16px;
        border-radius: 8px;
        font-size: 14px;
        width: 300px; /* Adjust the width as needed */
        position: relative;
        outline: none; /* Remove default outline on focus */
    }

    .search-bar:focus {
        border-color: #a1a1a1; /* Optional: Change border color on focus */
    }

    .search-bar::placeholder {
        color: #9ca3af; /* Placeholder text color */
    }

    .search-container button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .search-container .material-symbols-outlined {
        font-size: 24px; /* Adjust icon size as needed */
    }
    </style>
</head>
<script>
    let lastScrollTop = 0;
    const navbar = document.getElementById('navbar');

    window.addEventListener('scroll', () => {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
            // Scroll down
            navbar.style.transform = 'translateY(-100%)';
        } else {
            // Scroll up
            navbar.style.transform = 'translateY(0)';
        }
        lastScrollTop = scrollTop;
    });
</script>



<!-- component -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div x-data="{ cartOpen: false , isOpen: false }" class="bg-white">
    <header>
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div class="hidden w-full text-gray-600 md:flex md:items-center">
                    <a href="#" class="flex items-center">
                        <img class="w-auto h-6 sm:h-7" src="{% static 'madrid_images/real-madrid-logo.png' %}" alt="Real Madrid Logo">
                        <span class="ml-2 lg:ml-6 hover:text-blue-500">REAL MADRID FC</span>
                    </a>
                </div>
                <div class="ml-2 lg:ml-6 hover:text-blue-500 font-semibold whitespace-nowrap">
                    Official Store
                </div>
                
                <div class="flex items-center justify-end w-full">
                    <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none mx-4 sm:mx-0">
                        <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                        </svg>
                    </button>

                    <div class="flex sm:hidden">
                        <button @click="isOpen = !isOpen" type="button" class="text-gray-600 hover:text-gray-500 focus:outline-none focus:text-gray-500" aria-label="toggle menu">
                            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="relative mt-6 max-w-lg mx-auto">
            <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                    <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>

                <input class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
            </div>
            <nav :class="isOpen ? '' : 'hidden'" class="sm:flex sm:justify-center sm:items-center mt-4">
                <div class="flex flex-col sm:flex-row">
                    <!-- Home Link -->
                  
                    
                    <!-- Categories from Model -->
                    {% for category in categories %}
                    <a class="mt-3 text-[#43526E] hover:text-blue-500 sm:mx-12 sm:mt-0" href="#">{{ category.category_name }}</a>
                    {% endfor %}
                    
                    <!-- Static Links -->
                 
                </div>
            </nav>
        </div>
    </header>
    <div  class="fixed right-0 top-0 max-w-xs w-full h-full px-6 py-4 ">
        <div class="flex items-center justify-between">
            <button @click="cartOpen = !cartOpen" class="text-gray-600 focus:outline-none">
                <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"></svg>
            </button>
        </div>
    </div>
    <div class="relative isolate overflow-hidden" style="padding-top: 0 !important; padding-bottom: 0 !important;z-index:1 !important">
        <img src="{% static 'madrid_images/hero_banner_desktop__11_.png' %}">
    </div>
    <section class="bg-white dark:bg-gray-900" style="background: white;">
        <div class="container px-6 py-10 mx-auto">
    
            <!-- Display Current Category and Subcategories -->
            {% if current_category %}
                <div class="text-center mb-6">
                    <h1 class="text-3xl font-semibold text-gray-800 dark:text-[#43526E]">{{ current_category.category_name }}</h1>
                </div>
    
                <!-- Display Subcategories for Current Category -->
                <div class="flex items-center justify-center mb-6">
                    <div class="flex items-center p-1 border border-blue-600 dark:border-blue-400 rounded-xl">
                        {% for subcategory in subcategories %}
                            <a href="?category={{ current_category.id }}&subcategory={{ subcategory.id }}"
                               class="px-4 py-2 mx-2 text-sm font-medium
                                      {% if selected_subcategory_id|stringformat:'s' == subcategory.id|stringformat:'s' %}
                                          text-[#43526E] bg-blue-600
                                      {% else %}
                                          text-[#43526E] bg-transparent
                                      {% endif %}
                                      capitalize transition-colors duration-300 rounded-xl md:px-12 hover:bg-blue-600 hover:text-white">
                                {{ subcategory.sub_category_name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
    
            <!-- Display Products for Selected Subcategory or Category -->
            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                {% for item in items %}
                    <div class="bg-white dark:bg-gray-800 border border-gray-600 dark:border-gray-400 rounded-xl shadow-lg overflow-hidden flex flex-col">
                        <a href="{% url 'product_details' category_id=current_category.id item_id=item.id %}">
                            <img class="object-fill w-full h-66" src="{{ item.main_image.url }}" alt="{{ item.name }}">
                        </a>
                        <div class="p-4 text-center flex-grow" style="background: white;">
                            <h3 class="text-2xl font-semibold text-black capitalize dark:text-black">{{ item.name }}</h3>
                            <p class="mt-2 text-black capitalize dark:text-black">{{ item.price }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center text-gray-500 dark:text-gray-300 col-span-full">
                        No products available.
                    </div>
                {% endfor %}
            </div>
    
            <!-- Display All Categories and their Products -->
            <div class="mt-16">
                {% for category, items in all_category_items.items %}
                    {% if category != current_category %}
                        <div class="mb-12">
                            <div class="text-center mb-6">
                                <h2 class="text-3xl font-semibold text-gray-800 dark:text-[#43526E]">{{ category.category_name }}</h2>
                            </div>
                            <!-- Display Subcategories for Each Category -->
                            <div class="flex items-center justify-center mb-6">
                                <div class="flex items-center p-1 border border-blue-600 dark:border-blue-400 rounded-xl">
                                    {% for subcategory in category.subcategory_set.all %}
                                        <a href="?category={{ category.id }}&subcategory={{ subcategory.id }}"
                                           class="px-4 py-2 mx-2 text-sm font-medium
                                                  {% if selected_subcategory_id|stringformat:'s' == subcategory.id|stringformat:'s' %}
                                                      text-[#43526E] bg-blue-600
                                                  {% else %}
                                                      text-[#43526E] bg-transparent
                                                  {% endif %}
                                                  capitalize transition-colors duration-300 rounded-xl md:px-12 hover:bg-blue-600 hover:text-white">
                                            {{ subcategory.sub_category_name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
                                {% for item in items %}
                                    <div class="bg-white dark:bg-gray-800 border border-gray-600 dark:border-gray-400 rounded-xl shadow-lg overflow-hidden flex flex-col">
                                        <a href="{% url 'product_details' category_id=category.id item_id=item.id %}">
                                            <img class="object-fill w-full h-66" src="{{ item.main_image.url }}" alt="{{ item.name }}">
                                        </a>
                                        <div class="p-4 text-center flex-grow" style="background: white;">
                                            <h3 class="text-2xl font-semibold text-black capitalize dark:text-black">{{ item.name }}</h3>
                                            <p class="mt-2 text-black capitalize dark:text-black">{{ item.price }}</p>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="text-center text-gray-500 dark:text-gray-300 col-span-full">
                                        No products available.
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    
        </div>
    </section>